@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


html {
    font-family: sans-serif;
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* Common styles for sections */
section {
    text-align: center;
}
.container {
    text-align: left; /* Align text to the left */
}
.background-image{
background-image:url('D:\OIP.jpg');
background-size:cover;
background-position:center;
}

.first-section {
    color: white;
    background:url('pets-3715733_640.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 100vh;
}

/* Navigation bar styles */
.navigation-bar {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 35px;
    font-weight: 200;
    cursor: pointer;
}

.logo h1 span {
    color: orangered;
}

.nav-list ul {
    list-style: none;
}

.nav-list ul li {
    display: inline;
    margin: 18px;
}

.nav-list ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.signup-login-btn button {
    padding: 5px 25px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.login-btn {
	background-color: white;
    color: black;
}
.login-btn:hover {
	background-color: orangered;
    color: white;
    border-radius: 60px;
}

.signup-btn {
    background-color: orangered;
    color: black;
	
}
.signup-btn:hover {
    background-color: white;
    color: black;
    border-radius: 60px;
	
	
}

/* Heading content styles */
.heading-content {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
}

.heading-content h1 {
    font-size: 40px;
    padding: 25px;
}

.heading-content p {
    font-size: 15px;
    padding: 30px;
}

.learn-btn {
    padding: 6px 48px;
    background: orangered;
    border: none;
    border-radius: 60px;
    color: white;
    cursor: pointer;
    align-items: center;
}
.learn-btn:hover{
    padding: 6px 48px;
    background: white;
    border: none;
    border-radius: 50px;
    color: black;
    cursor: pointer;
}


/* Second section styles */
.second-section h1 {

    padding: 30px;
    font-size: 28px;
    font-weight: 100;
    color: #464646;
}

.second-section h1 span {
    color: #333333;
    font-weight: bold;
}

.icon-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    flex: 1;
    max-width: 200px;
}

.icon img {
    width: 50px;
}

.paragraph {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.paragraph p {
    font-size: 18px;
    color: #333333;
}

  
  #scrollDownBtn:hover {
    background-color: #555;
  }
  
/* Text Natural Food styles */
.text-natural-food {
    text-align: center;
    font-weight: 100;
    margin-top: 70px;
}
.helplinesection{
    background:url('');
    background-repeat:no-repeat;
    border-image-width: 100%;
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: left;
    justify-content: center;
    background-color: pink;
    
}
.helplinediv{
    display:inline-flex ;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
    background: transparent;
   

}
.input-fields{
  width: 20vw;
  height: 12vh;
  justify-content: center;
}
.village-select{
    width: 20vw;
    height: 1ovh;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    justify-content: left;
}
#location-select{
    width: 26vw;
    height: 1ovh;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    justify-content: left;
  }
  #helpl{
    display: flex;
    justify-content: left;
    text-align: left;

  }
  
  /* Style the options */
  #location-select option {
    text-align: left; 
    padding: 10px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
  }
  
  
  /* Style the selected option */
  #location-select option:checked {
    background-color: #ccc;
  }


.join-us-container {
    background-image: linear-gradient(rgba(2, 3, 7, 0.452), rgba(14, 11, 29, 0.356)), url('containerimage.jpg');
    height: 100vh;
    margin-top: 40px;
    background-size: cover;
    color: white;
    backdrop-filter: blur(20px);

}

.join-us-container h1 {
    text-align: center;
    padding: 30px;
}

.join-us-container p {
    text-align: center;
    padding: 10px;
    width: 600px;
    margin: auto;
}

.join-us-container span{
    background: #302f2f;
}
.feilds-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-fields input {
    padding: 13px 50px;
    margin-bottom: 15px;
    border: none;
    border-radius: 2px;
    background-color: #ffffffc4;
    outline: none;
}

.all-inputs-fields-for-join-us {
    width: 80%;
    text-align: center;
    margin-top: 20px;
}

.button-create-account button {
    position: absolute; /* Position the button */
    top: 90%; /* Align the top edge of the button to the middle of its containing element */
    left: 50%; /* Align the left edge of the button to the middle of its containing element */
    transform: translate(-50%, -50%);
    padding: 8px 30px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    background-color: orangered;
    
}
.button-create-account button:hover {
    padding: 8px 30px;
    margin-top: 10px;
    color: black;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    background-color: white;
    
}
.helplabel{
    display: flex;
    justify-content: left;
    align-items: left;
    
    
}
#myin {
    width: 400px; 
    height: 20px; 
    font-size: 16px;
    color: #000;
}
#myin::placeholder {
    text-align: left;
}

.footer-image-container {
    width: 100%;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(175, 35, 110, 1) 0%, rgba(197, 24, 75, 1) 0%, rgba(178, 34, 106, 1) 0%, rgba(245, 0, 0, 1) 0%, rgba(247, 47, 18, 1) 0%, rgba(251, 153, 60, 1) 100%, rgba(252, 176, 69, 1) 100%);
    margin-top: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    shape-image-threshold: initial;
}

.footer-image-container .fa-instagram {
    font-size: 40px;
    padding: 20px;
    cursor: pointer;
    color: #fff4f2;
}

.footer-image-container span {
    font-size: 22px;
    color: white;
    cursor: pointer;
}

.footer-image-container a {
    text-decoration: none;
}

.lot-of-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images-footers img {
    width: 108px;
    height: 90px;
    padding: 5px;
    border-radius: 70px;
}

a {
    text-decoration: none; /* Removes the underline */
}

.main-footer {
    color: white;
    height: 46vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(2, 3, 7, 0.452), rgba(14, 11, 29, 0.356)), url('images/footerbg.jpg');
}

.left-footer {
    margin-left: 80px;
    text-align: center;
}

.fa-phone:before {
    content: "\f095";
    color: orange;
    font-size: 28px;
    margin: 10px;
}

.fa-map-marker:before {
    content: "\f041";
    color: orange;
    font-size: 32px;
    margin-left: 23px;
    margin-right: 13px;
}

.icons-container {
    font-size: 31px;
    margin: 18px;
}

.icons-container i {
    margin: 10px;
    cursor: pointer;
}

.main-footer-nav-list ul li {
    list-style: none;
    display: inline;
}

.main-footer-nav-list ul li a {
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    margin: 10px;
    color: white;
    cursor: pointer;
}

hr {
    width: 200px;
    color: white;
    margin: auto;
    margin-bottom: 10px;
}
.span{
    color: #000;
    background-color: #302f2f;
}

.copyright-footer {
    font-size: 13px;
    padding: 20px;
}
/* Media query for responsiveness */
@media (max-width: 768px) {
    .nav-list ul li {
        margin: 10px;
    }

    .heading-content {
        padding: 20px;
    }

    .heading-content h1 {
        font-size: 30px;
    }

    .heading-content p {
        font-size: 14px;
    }

    .learn-btn {
        padding: 6px 24px;
    }

    .icon p {
        font-size: 14px;
    }

    .paragraph p {
        font-size: 14px;
    }
}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% /2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}

  