<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="{{url_for('static',filename='register.css')}}">
	
</head>
<div id="loginmy" class="loginmy">
    <div id="joinu" class="join-us-container">
        <h1>Join Us Today!</h1>
        <div class="horizontal-line">
            <hr>
        </div>
        <div>
        <p>login to cuddle and care </p>
        <form>
        <div class="feilds-container">
            <div class="all-inputs-fields-for-join-us">
                <div class="input-fields">
                    <label class="helplabel">Name</label>
                    <input type="email" placeholder="Enter your name" required>
                </div>
                <div class="input-fields">
                    <label class="helplabel">Email</label>
                    <input type="email" placeholder="E-mail Adress" required>
                    <div class="input-fields">
                        <label class="helplabel">Password</label>
                        <input type="password" placeholder="Password" required>
                    </div>
                <div class="input-fields">
                    <label class="helplabel">Confirm Password</label>
                    <input type="password" placeholder="Password" required>
                </div>
                <div class >
                    <p>You  already have a account? <span><a href="/">LOG IN</a></span> </p>
                </div>
                <br><br>
                <div class="button-create-account">
                    <button>REGISTER></button>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
</div>
</body>
</html>